// JUMPS MQ
$mq1: 1360px;
$mq2: 840px;
$mq3: 570px;
$mq4: 420px;
$mq5: 360px;
$mq6: 320px;

html {
  //FONTS
  --brown: "Brown", arial, sans-serif;
  --font-primary: var(--brown);

  /***COLORES***/
  --negro: #1d1f22;
  --blanco: #ffffff;
  --amarillo: #ebc03f;
  /***END COLORES***/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4 {
  font-family: var(--font-primary);
  font-weight: 400;
  color: var(--amarillo);
  padding: 0;
  margin: 0;
}

p {
  font-family: var(--font-primary);
  color: var(--blanco);
}

a {
  text-decoration: underline;
  color: var(--amarillo);
}

label,
input,
textarea {
  font-family: var(--font-primary);
}

sup {
  font-size: 60%;
}