<!--FOOTER-->
<div class="footer">
  <a href="https://www.neom.com" target="_blank"><h4 class="footer-title">NEOM.COM</h4></a>
  <div class="footer-logos">
    <div class="footer-row">
      <a href="https://www.youtube.com/channel/UCl0eCJPupCsTrobb_0bprhw" target="_blank"><img class="social-item" src="/images/youtube.png" alt="Youtube" /></a>
      <a href="https://x.com/NEOM" target="_blank"><img class="social-item" src="/images/x.png" alt="X" /></a>
      <a href="https://www.instagram.com/discoverneom" target="_blank"><img class="social-item" src="/images/instagram.png" alt="Instagram" /></a>
      <a href="https://www.facebook.com/NEOM/" target="_blank"><img class="social-item" src="/images/facebook.png" alt="Facebook" /></a>
    </div>
    <div class="footer-row">
      <a href="https://www.linkedin.com/company/discoverneom" target="_blank"><img class="social-item" src="/images/linkdln.png" alt="Linkdln" /></a>
      <a href="https://www.snapchat.com/add/neomsnaps" target="_blank"><img class="social-item" src="/images/snapchat.png" alt="SnapChat" /></a>
      <a href="https://www.tiktok.com/@neom" target="_blank"><img class="social-item" src="/images/tiktok.png" alt="TikTok" /></a>
    </div>
  </div>
</div>
<!-- END FOOTER -->
